body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: #f0f8ff;
    padding: 20px;
}

.base {
	background-color: #b0c4de; 
	border:solid 5px white;
	border-radius: 20px;
	justify-content: center;
	padding: 10px;
}

.swi_Eng {
	width: 500px;
	background-color: #FFE4E1;
	border-radius: 20px;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 10px;
	padding: 10px;
}

.swi_Sya {
	width: 500px;
	background-color: #E0FFFF;
	border-radius: 20px;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 10px;
	padding: 10px;
}

.swi_Sci {
	width: 500px;
	background-color: #FFFFE0;
	border-radius: 20px;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 10px;
	padding: 10px;
}
.image {
	width:auto;
	height: 200px;
	object-fit: cover;
}
.swi_Ret {
	justify-content: center;
	width: 200px;
	height: 50px;
	border-radius: 10px;
	background-color: #ffa500;
}

h1 {
	color: #000080;
}