
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    background-image: url('./kyouzai.png.jpg'); 
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
}

/* タイトル部分のスタイル */
.title {
    background-color: rgba(255, 235, 59, 0.8); /* 透明度を加えた背景色 */
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    margin-bottom: 20px;
}

/* タイトルの見出し */
.title h1 {
    font-size: 45px;
    color: #333;
    margin-bottom: 20px;
    font-weight: 700;
}

/* ゲームスタートボタン */
.btn {
    display: inline-block;
    background-color: #4caf50;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2rem;
    
}

.btn:hover {
    background-color: #45a049;
}

